//size
$fullWidth: 100vw;
$fullHeight: 100vh;
$percentWidth: 100%;
$percentHeight: 100%;

//colors
$colorGrey: grey;
$colorLightGrey: lightgrey;
$colorTeal: teal;
$colorWhite: white;
$colorBlack: black;

//btns
$borderGrey: #4b5861;
$btnGrey: #5d6870;
$btnHover: #3cbc8d;
$btnActive: #1cb06e;