@import 'reset';
@import 'mixins';

body {
  background-color: grey;
  font-family: Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}


//first site style
//main container
.container {
    @include flexBox();
    max-width: 1000px;
    width: 100vw;
    height: 100vh;
    background-color: lightgrey;
    margin: 0 auto;
    
    //left side - buttons, knob, screen
    .left {
        width: 75%;
        @include flexBox();
        flex-direction: row;
        flex-wrap: wrap;
        .nav {
            height: 140px;
            width: 100%;
            border-bottom: 1px solid grey;
        }
        .knob {
            height: 350px;
            width: 100%;
            position: relative;
            .SomeDiv {
                width:250px;
                height:250px;
                margin:50px auto;
                background-color: grey;
                @include border-radius(50%);
                position: relative;
                span {
                    position: absolute;
                    top: 0;
                    left: 120px;
                    font-size: 40px;
                }
            }
            p{
                position: absolute;
                
            }
            .off{
                top: 10px;
                left: 330px;
                }
            .fast {
                top: 80px;
                right: 190px;
            }
            .daily{
                bottom: 80px;
                right: 180px;
            }
            .custom{
                bottom: 10px;
                left: 290px;
            }
            .hand{
                bottom: 80px;
                left: 180px;
            }
            .cotton{
                top: 80px;
                left: 160px;
            }
        }
        .screen {
            height: 150px;
            width: 100%;
            @include flexBox();
            justify-content: space-between;
            .lcd{
                width: 60%;
                height: 90%;
                background: rgb(31, 27, 27);
                color: rgba(97, 197, 216, 0.85);
                @include border-radius(40px);
                margin-right: 30px;
                p{
                    padding: 5px 10px 0 30px;
                    font-size: 20px;
                }
            }
        }
    }
    
    //left side - modes and leds
    .level {
        @include flexBox();
        max-width: 333.333px;
        background-color: lightgrey;
        align-items: stretch;
        .icon {
            width: 100%;
            background-color: #3cbc8d;
        }
    }
}
    
    //buttons with actions on them
    .init_btn,
    .edit_btn,
    .save_btn{
        @include boxShadow(0, 3px, 3px, grey);
        color: #ffffff;
        font-size: 20px;
        background: #5d6870;
        width: 25%;
        margin: 5% 3%;
        padding: 20px;
        border: solid #4b5861 1px;
        cursor: pointer;
        &:first-child{
            margin-left: 6%;
        }
        &:hover {
            background: #3cbc8d;
            text-decoration: none;
            color: black;
        }
        &:active {
            background-color: #1cb06e;
            color: black;
            @include boxShadow(0, 3px, 3px, #666666);
            @include transforms(4px);
        }
    }
   .step_btn {
        @include border-radius(28px);
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        background: #5d6870;
        width: 90%; 
        padding: 20px;
        margin: 4% 5%;
        border: solid #4b5861 1px;
        float: right;
        &:first-child{
           margin-top: 10%;
       }
       .circle{
           display: inline-block;
           float: left;
           @include border-radius(50%);
           height: 25px;
           width: 25px;
           background-color: grey;
       }
    } 


//second site style
//main container
.container_second_site{
    max-width: 1000px;
    width: 100vw;
    height: 100vh;
    background-color: teal;
    margin: 0 auto;
    #title{
        margin: 0 100px;
        font-size: 30px;
        padding: 30px 10px;
        display: block;
        color: white;
    }
    
    //place to choose your own mode
    .flex{
        @include flexBox();
        flex-direction: row;
        height: 400px;
        li {
            list-style-type: none;
            height: 50px;
            background-color: lightgrey;
            @include border-radius(25px);
            margin: 20px 50px;
            padding: 15px 30px;
            cursor: pointer;
            input{
                width: 50px;
                margin: 0 10px; 
            }
            .choice{
                margin: 0 10px;
            }
        }
    }
}

