@import 'reset';
@import 'mixins';
@import 'variables';

body {
  background-color: $colorGrey;
  font-family: Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}



.container_open{
    width: $percentWidth;
    height: $percentHeight;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    background:rgba(255,255,255,0.7);
    background-image: url("https://cdn.instructables.com/FA4/6WSR/I2UUUS3G/FA46WSRI2UUUS3G.LARGE.gif");
//    background-image: url("https://i.imgur.com/u2QTb.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.close {
  display: block;
  height: 50px;
  width: 100px;
  font-size: 30px;
}




//first site style
//main container
.container {
    @include flexBox();
    max-width: 1000px;
    width: $fullWidth;
    height: $fullHeight;
    background-color: $colorLightGrey;
    margin: 0 auto;
    
    //left side - buttons, knob, screen
    .left {
        width: 75%;
        @include flexBox();
        flex-direction: row;
        flex-wrap: wrap;
        .nav {
            height: 140px;
            width: $percentWidth;
            border-bottom: 1px solid $colorGrey;
        }
        .knob {
            height: 350px;
            width: $percentWidth;
            position: relative;
            .SomeDiv {
                width:250px;
                height:250px;
                margin:50px auto;
                background-color: $colorGrey;
                background-image: url("https://s-media-cache-ak0.pinimg.com/564x/41/7d/9c/417d9cb633d84cf5104f80995acef065.jpg");
                background-position-x: -20px;
                background-size: cover;
                background-repeat: no-repeat;
                @include border-radius(50%);
                position: relative;
                span {
                    position: absolute;
                    top: 0;
                    left: 120px;
                    font-size: 40px;
                }
            }
            p{
                position: absolute;
            }
            .off{
                top: 10px;
                left: 330px;
                }
            .fast {
                top: 80px;
                right: 190px;
            }
            .daily{
                bottom: 80px;
                right: 180px;
            }
            .custom{
                bottom: 10px;
                left: 290px;
            }
            .hand{
                bottom: 80px;
                left: 180px;
            }
            .cotton{
                top: 80px;
                left: 160px;
            }
        }
        .screen {
            height: 150px;
            width: $percentWidth;
            @include flexBox();
            justify-content: space-between;
            .lcd{
                width: 60%;
                height: 90%;
                background: rgb(31, 27, 27);
                color: rgba(97, 197, 216, 0.85);
                @include border-radius(40px);
                margin-right: 30px;
                p{
                    padding: 5px 10px 0 30px;
                    font-size: 20px;
                }
            }
        }
    }
    
    //left side - modes and leds
    .level {
        @include flexBox();
        max-width: 333.333px;
        background-color: $colorLightGrey;
        align-items: stretch;
        .icon {
            width: $percentWidth;
            background-color: $btnHover;
        }
    }
}
    
    //buttons with actions on them
    .init_btn,
    .edit_btn,
    .save_btn{
        @include boxShadow(0, 3px, 3px, grey);
        color: $colorWhite;
        font-size: 20px;
        background: $btnGrey;
        width: 25%;
        margin: 5% 3%;
        padding: 20px;
        border: 1px solid $borderGrey;
        cursor: pointer;
        &:first-child{
            margin-left: 6%;
        }
        &:hover {
            background: $btnHover;
            text-decoration: none;
            color: $colorBlack;
        }
        &:active {
            background-color: $btnActive;
            color: $colorBlack;
            @include boxShadow(0, 3px, 3px, #666666);
            @include transforms(4px);
        }
    }
   .step_btn {
        @include border-radius(28px);
        color: $colorWhite;
        font-size: 20px;
        background: $btnGrey;
        width: 90%; 
        padding: 20px;
        margin: 4% 5%;
        border: 1px solid $borderGrey;
        float: right;
        &:first-child{
           margin-top: 10%;
       }
       .circle{
           display: inline-block;
           float: left;
           @include border-radius(50%);
           height: 25px;
           width: 25px;
           background-color: $colorGrey;
       }
    } 



//second site style
//main container
.container_second_site{
    max-width: 1000px;
    width: $fullWidth;
    height: $fullHeight;
    background-color: $colorTeal;
    margin: 0 auto;
    #title{
        margin: 0 100px;
        font-size: 30px;
        padding: 30px 10px;
        display: block;
        color: $colorWhite;
    }
    
    //place to choose your own mode
    .flex{
        @include flexBox();
        flex-direction: row;
        height: 400px;
        li {
            list-style-type: none;
            height: 50px;
            background-color: $colorLightGrey;
            @include border-radius(25px);
            margin: 20px 50px;
            padding: 15px 30px;
            cursor: pointer;
            input{
                width: 50px;
                margin: 0 10px; 
            }
            .choice{
                margin: 0 10px;
            }
        }
    }
}

